# Практика 1

Заранее объявленные импорты и функции

In [68]:
import math
import decimal
from sklearn.datasets import fetch_california_housing

In [69]:
def is_float(s):
    try:
        float(s)
        return True
    except ValueError:
        return False
    
def is_int(s):
    try:
        int(s)
        return True
    except ValueError:
        return False

def is_calculatable(s):
    if is_int(s) or is_float(s):
        return True
    else:
        return False

## Задание 1
Написать программу, которая вычисляет площадь фигуры, параметры которой подаются на вход

In [106]:
def triangle_area():
    a = str(input("1 Сторона"))
    b = str(input("2 Сторона"))
    c = str(input("3 Сторона"))

    massive_to_check = [a, b, c]

    is_math = [True if is_calculatable(item_check) else False for item_check in massive_to_check]
    if False not in is_math:
        a_value = decimal.Decimal(a)
        b_value = decimal.Decimal(b)
        c_value = decimal.Decimal(c)
        half_p = decimal.Decimal((a_value+b_value+c_value)/2)
    else:
        raise ValueSideException(a=a, b=b, c=c)
    return math.sqrt(float(half_p*(half_p-a_value)*(half_p-b_value)*(half_p-c_value)))

def rectangle_area():
    a = str(input("1 Сторона"))
    b = str(input("2 Сторона"))
    massive_to_check = [a, b]
    is_math = [True if is_calculatable(item_check) else False for item_check in massive_to_check]
    if False not in is_math:
        a_value = decimal.Decimal(a)
        b_value = decimal.Decimal(b)
    else:
        raise ValueSideException(a=a, b=b)
    return float(a_value*b_value)

def circle_area():
    a = str(input("Радиус"))
    massive_to_check = [a]
    is_math = [True if is_calculatable(item_check) else False for item_check in massive_to_check]
    if False not in is_math:
        a_value = decimal.Decimal(a)
    else:
        raise ValueSideException(a=a)
    return float(a_value**2 * decimal.Decimal(math.pi))

class ValueSideException(Exception):
    def __init__(self, type="form", **args):
        self.type = type
        self.values = [{key:value} for key, value in args.items()]
    
    def __str__(self):
        problem = []
        match self.type:
            case "form":
                for item in self.values:
                    if is_int(item[list(item.keys())[0]]) or is_float(item[list(item.keys())[0]]):
                        pass
                    else:
                        problem.append(item[list(item.keys())[0]])
            case "int":
                for item in self.values:
                    if is_int(item[list(item.keys())[0]]):
                        pass
                    else:
                        problem.append(item[list(item.keys())[0]])
        return f"Следующие значения не подошли:{" ".join(problem)}"

class AreaTypeException(Exception):
    def __init__(self, area_type):
        self.area_type = area_type
    def __str__(self):
        return f"Ожидалось другое значение, а пришло: {area_type=}"

def choose_figure():
    area_type=str(input("Введите интересующую Вас площадь фигруы"))
    result = dict()
    match area_type.lower().strip():
        case "треугольник":
            result = {f"{area_type.lower().strip()}": triangle_area()}
        case "прямоугольник":
            result = {f"{area_type.lower().strip()}": rectangle_area()}
        case "круг":
            result = {f"{area_type.lower().strip()}": circle_area()}
        case _:
            raise AreaTypeException(area_type=area_type)
    print(result)

In [108]:
if __name__ == "__main__":
    choose_figure()

{'треугольник': 1.479019945774904}

In [93]:
if __name__ == "__main__":
    choose_figure()

{'прямоугольник': 4.0}

In [94]:
if __name__ == "__main__":
    choose_figure()

{'круг': 28.274333882308138}

## Задание 2
Написать программу, которая на вход получает два числа и операцию, которую к ним нужно применить

In [98]:
def input_variables(varibles_amount:int):
    massive_to_check = {}
    for i in range(varibles_amount):
        a = str(input(f"{i+1} число"))
        massive_to_check[f"{i+1}"]=a
    is_math = [True if is_calculatable(item_check) else False for key, item_check in massive_to_check.items()]
    if False not in is_math:
        pass
    else:
        raise ValueSideException(massive_to_check)
    result = [decimal.Decimal(value) for key, value in massive_to_check.items()]
    return result
    
def sum(a, b):
    return float(a + b)

def minus(a, b):
    return float (a - b)

def division(a, b):
    return float (a / b)

def integer_division(a, b):
    return int(float(a//b))

def absolute(a, b):
    return [float(a) if float(a)>=0 else -float(a), float(b) if float(b)>=0 else -float(b)]

def pow(a, b):
    return float(a ** b)

def choose_operation():
    new_variables = input_variables(2)
    a, b = new_variables[0], new_variables[1]
    result = dict()
    area_type = input("Введите операцию")
    match area_type.lower().strip():
        case "+":
            result = {f"{area_type.lower().strip()}": sum(a, b)}
        case "-":
            result = {f"{area_type.lower().strip()}": minus(a, b)}
        case "/":
            result = {f"{area_type.lower().strip()}": division(a, b)}
        case "//":
            result = {f"{area_type.lower().strip()}": integer_division(a, b)}
        case "abs":
            result = {f"{area_type.lower().strip()}": absolute(a, b)}
        case "pow":
            result = {f"{area_type.lower().strip()}": pow(a, b)}
        case "**":
            result = {f"{area_type.lower().strip()}": pow(a, b)}
        case _:
            raise AreaTypeException(area_type=area_type)
    print(result)

In [99]:
if __name__ == "__main__":
    choose_operation()

{'+': 4.0}

In [100]:
if __name__ == "__main__":
    choose_operation()

{'-': 0.0}

In [101]:
if __name__ == "__main__":
    choose_operation()

{'/': 1.0}

In [102]:
if __name__ == "__main__":
    choose_operation()

{'//': 1}

In [103]:
if __name__ == "__main__":
    choose_operation()

{'abs': [2.0, 2.0]}

In [104]:
if __name__ == "__main__":
    choose_operation()

{'pow': 4.0}

In [105]:
if __name__ == "__main__":
    choose_operation()

{'**': 4.0}

## Задание 3
Напишите программу, которая считывает с консоли числа (по одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и после этого выводит сумму квадратов всех считанных чисел.

In [109]:
if __name__ == "__main__":
    float_values = []
    new_value: float = 1.0
    decimal_result = decimal.Decimal(0)
    while new_value != 0.0:
        input_value = str(input("Введите значение"))
        if is_calculatable (input_value):
            new_value = float(input_value)
            float_values.append(new_value)
        else:
            pass
    decimal_sqr_values = [decimal.Decimal(value)**2 for value in float_values]
    for decimal_value in decimal_sqr_values:
        decimal_result += decimal_value
    result = float(decimal_result)
    print({"result":result})

{'result': 31.0}

## Задание 4
Напишите программу, которая выводит последовательность чисел, длинною N, где каждое число повторяется столько раз, чему оно равно.

In [110]:
if __name__ == "__main__":
    input_value = str(input("Введите значение"))
    if is_int (input_value):
        new_value = int(input_value)
    else:
        raise ValueSideException(type="int", new_value=new_value)
    result = []
    for j in range(1, new_value+1):
        result = [*result, *[j for i in range(1, j+1)]]
    print(*result)

1 2 2 3 3 3

## Задание 5
Создать словарь, в котором ключи – это содержимое списка В, а значения для ключей словаря – это сумма всех элементов списка А в соответствии с буквой, содержащийся на той же позиции в списке В.

In [111]:
def return_sum_of_vars(list_vars:list, list_keys:list):
    list_of_setted_keys = {key:0 for key in list(set(list_keys))}
    for i in range(len(list_keys)):
        if i <= len(list_vars):
            list_of_setted_keys[list_keys[i]]+=list_vars[i]
        else:
            pass
    return list_of_setted_keys


if __name__ == "__main__":
    result = return_sum_of_vars([1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2], 
                                ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a'])
    print(result)

{'c': 17, 'a': 17, 'b': 11}

## Задание 6
Скачать и загрузить данные о стоимости домов в калифорнии, используя библиотеку sklearn.

In [88]:
from numpy import info
import numpy
import pandas


data = fetch_california_housing(as_frame=True)
df = pandas.DataFrame(data.frame)
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

## Задание 7
Использовать метод info().

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

## Задание 8
Узнать, есть ли пропущенные значения, используя isna().sum().

In [91]:
df.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

## Задание 9
Вывести записи, где средний возраст домов в районе более 50 лет и население более 2500 человек, используя метод loc().

In [ ]:
df.loc[(df['HouseAge']>50) & (df['Population']>2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26,1.75000
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20,1.93600
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21,1.53000
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71,2.12500
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21,1.67600
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20,1.62500
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15,2.25000
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41,2.43800
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41,5.00001
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41,2.75000
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41,2.25000
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42,3.25000
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41,2.60300

## Задание 10
Узнать максимальное и минимальное значения медианной стоимости дома.

In [133]:
sorted_list = df.sort_values(by=['MedHouseVal'], ascending=True).index.to_list()

In [141]:
df.loc[sorted_list[0], "MedHouseVal"].tolist()

0.14999

In [140]:
df.loc[sorted_list[-1], "MedHouseVal"].tolist()

5.00001

## Задание 11
Используя метод apply(), вывести на экран название признака и его среднее значение

In [ ]:
df.apply(numpy.average)

MedInc            3.870671
HouseAge         28.639486
AveRooms          5.429000
AveBedrms         1.096675
Population     1425.476744
AveOccup          3.070655
Latitude         35.631861
Longitude      -119.569704
MedHouseVal       2.068558
dtype: float64

## Задание 1*
Дан текст на английском языке. Необходимо закодировать его с помощью азбуки Морзе, где каждой букве соответствует последовательность точек и тире.

На входе: В одной строке вам дан текст, который состоит из латинских
букв и пробелов.

На выходе:
Выведите каждое слово исходного текста, закодированное азбукой
Морзе. Количество строк в ответе должно совпадать с количеством слов
в исходном тексте. Между закодированными буквами ставится ровно
один пробел. Например, слово «Help» превратится в «.... . .-.. .--.».
Строчные и заглавные буквы кодируются одинаково.

In [ ]:
morze = {'a': '.-', 'b': '-...', 'c': '-.-.', 'd': '-..',
 'e': '.', 'f': '..-.', 'g': '--.', 'h': '....',
 'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
 'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
 'q': '--.-', 'r': '.-.', 's': '...', 't': '-',
 'u': '..-', 'v': '...-', 'w': '.--', 'x': '-..-',
 'y': '-.--', 'z': '--..'}

def translate_to_morze(some_string:str)->str:
    string_masive = some_string.split()
    new_massive = []

    for string_value in string_masive:
        for char in string_value:
            match char:
                case ".":
                    pass
                case "-":
                    pass
                case _:
                    string_value = string_value.replace(char, f"{morze[char]} ")
        new_massive.append(string_value.strip())
    result = " \n ".join(new_massive)
    return result

if __name__ == "__main__":
    print(translate_to_morze("solovyev ivan"))

... --- .-.. --- ...- -.-- . ...-
 .. ...- .- -.

## Задание 2*
В некотором городе открывается новая служба по доставке электронных писем. Необходимо наладить систему регистрации новых пользователей. Регистрация должна работать следующим образом: если новый
пользователь хочет зарегистрироваться на сайте, то он должен послать системе запрос name со своим именем. Система должна определить, существует ли уже такое имя в базе данных. Если такого имени не существует, то оно заносится в базу данных системы и пользователю возвращается ответ "ОК", подтверждающий успешную регистрацию. А если пользователь с таким именем уже существует, то система должна сформировать новое имя и выдать его пользователю в качестве подсказки, при этом сама подсказка также добавляется в базу данных. Новое имя формируется следующим образом: к name  оследовательно приписываются числа, начиная с 1 (name1, name2 и так далее), и среди них находят такое наименьшее i, что namei еще не содержится в системе.

In [ ]:
def mail_system(some_requests:list):
    request_set_list_obj = {f"{i}":0 for i in list(set(some_requests))}
    new_list = []
    for request in some_requests:
        if request_set_list_obj[request] == 0:
            new_list.append("OK")
        else:
            new_list.append(f"{request}{request_set_list_obj[request]}")
        request_set_list_obj[request] += 1
    return new_list



def mail_wraper (some_list:list):
    some_number, *some_requests = some_list
    result = mail_system(some_requests=some_requests)
    return result


if __name__ == "__main__":
    print(mail_wraper([3, "b", "b", "b"]))
    print(mail_wraper([10, "bhnqaptmp", "bhnqaptmp", "bhnqaptmp", "bhnqaptmp", "bhnqaptmp", "bhnqaptmp", "bhnqaptmp", "bhnqaptmp", "bhnqaptmp", "bhnqaptmp"]))
    print(mail_wraper([3, "fpqhfouqdldravpjttarh", "fpqhfouqdldravpjttarh", "fpqhfouqdldravpjttarh", "fpqhfouqdldravpjttarh", "fpqhfouqdldravpjttarh", "fpqhfouqdldravpjttarh", "jmvlplnrmba", "fpqhfouqdldravpjttarh", "jmvlplnrmba", "fpqhfouqdldravpjttarh"]))

['OK', 'b1', 'b2']
['OK', 'bhnqaptmp1', 'bhnqaptmp2', 'bhnqaptmp3', 'bhnqaptmp4', 'bhnqaptmp5', 'bhnqaptmp6', 'bhnqaptmp7', 'bhnqaptmp8', 'bhnqaptmp9']
['OK', 'fpqhfouqdldravpjttarh1', 'fpqhfouqdldravpjttarh2', 'fpqhfouqdldravpjttarh3', 'fpqhfouqdldravpjttarh4', 'fpqhfouqdldravpjttarh5', 'OK', 'fpqhfouqdldravpjttarh6', 'jmvlplnrmba1', 'fpqhfouqdldravpjttarh7']

## Задание 3*
Необходимо создать программу обработки запросов пользователей к
файловой системе компьютера. Над каждым файлом можно производить
следующие действия: запись – w ("write"), чтение – r ("read"), запуск – x
("execute").

In [86]:
rights= {
    "w":"write",
    "r":"read",
    "x":"execute"
}

def right_chek(right_list, actions_list):
    right_object={}
    result_list=[]
    for right_string in right_list:
        file_object, *right_file_list = right_string.split()
        right_object[f"{file_object}"] = [rights[right] for right in right_file_list]
    for action_string in actions_list:
        action_right, action_file = action_string.split()
        if action_right in right_object[action_file]:
            result_list.append("OK")
        else:
            result_list.append("Access denied")
    return result_list



def right_wrapper(some_list:list):
    right_list = some_list[1:some_list[0]+1]
    actions_list = some_list[some_list[some_list[0]+1]:]
    return right_chek(right_list, actions_list)


if __name__ == "__main__":
    print(right_wrapper([3, "python.exe x", "book.txt r w", "notebook.exe r w x", 5, "read python.exe", "read book.txt", "write notebook.exe", "execute notebook.exe", "write book.txt"]))

['Access denied', 'OK', 'OK', 'OK', 'OK']