# Практика 2
Выполнено Студентом группы ИКБО-27-22 Соловьевом Иваном

## Задание 1
Найти и выгрузить многомерные данные (с большим количеством признаков – столбцов) с использованием библиотеки pandas. В отчёте описать найденные данные

In [4]:
import pandas

data = pandas.read_csv('data_Net_generation.csv')
data

,Month,all fuels (utility-scale) thousand megawatthours,coal thousand megawatthours,natural gas thousand megawatthours,nuclear thousand megawatthours,conventional hydroelectric thousand megawatthours,wind thousand megawatthours,all solar thousand megawatthours
0,Sep-23,358136.2599,60005.67580,164466.3568,65559.710,16496.04043,28193.29153,22192.58066
1,Aug-23,423934.2574,78184.50094,199993.0422,69744.023,21145.86624,28504.16694,25350.26673
2,Jul-23,425611.3284,78909.85665,200506.7592,69887.588,21237.80849,27867.90946,26538.55725
3,Jun-23,356672.3849,57697.75156,161692.7028,64965.076,19470.63281,27505.93547,25034.48613
4,May-23,327532.6236,43852.22406,137795.2922,61472.883,27479.13413,32018.24592,24462.37510
...,...,...,...,...,...,...,...,...
268,May-01,300491.6210,151592.91400,50934.2050,61512.445,19175.63500,635.02900,NaN
269,Apr-01,278078.8710,140670.65400,45842.7460,56003.026,18012.99400,684.69500,NaN
270,Mar-01,300706.5440,155269.01100,44364.4140,62140.712,20477.18900,532.12000,NaN
271,Feb-01,282940.1980,149735.48400,37966.9270,61272.407,17472.88900,431.24200,NaN
272,Jan-01,332493.1600,177287.11100,42388.6630,68707.077,18852.04800,389.25000,NaN

## Задание 2
Вывести информацию о данных при помощи методов .info(), .head(). Проверить данные на наличие пустых значений. В случае их наличия удалить данные строки или интерполировать пропущенные значения. При необходимости дополнительно предобработать данные для дальнейшей работы с ними.